<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ilm Navigator</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/images/ilmnavigatorapplogo.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/a6e62f9472.js" crossorigin="anonymous"></script>
</head>