  <main id="index-main">
    <img class="bismillah" src="/images/bismillah.svg" alt="">
    <%- include('../components/login-component.ejs') %>
  <img  class="index-background" src="/images/index-background.svg" alt="index-background">
</main>