<section id="login-section" class="login-student">
  <h1>Ilm Navigator</h1>
  <form action="/login" method="post">
    <label for="usernameStudentLogin">
      E-mail adres
      <input type="text" name="usernameLogin" id="usernameStudentLogin" placeholder="Vul hier je e-mail adres in">
      <% if (typeof error !== 'undefined') { %>
        <p style="color: red;"><%= error %></p>
      <% } %>
    </label>
    <label for="passwordStudentLogin">
      Wachtwoord
      <input type="password" name="passwordLogin" id="passwordStudentLogin" placeholder="Vul hier je wachtwoord in">
      <% if (typeof error !== 'undefined') { %>
        <p style="color: red;"><%= error %></p>
      <% } %>
    </label>
    <button type="submit"><i class="fa-solid fa-right-to-bracket"></i>Login</button>
    <button type="button" id="register-button"><i class="fa-solid fa-plus"></i>Registreren</button>
    <a href="#">Wachtwoord vergeten?</a>
    <a href="#">Inloggen als docent</a>
  </form>
</section>
<section id="register-section" class="login-student">
  <h1>Ilm Navigator</h1>
  <form action="/register" method="post">
    <label for="usernameStudentRegister">
      E-mail adres
      <input type="text" name="usernameRegister" id="usernameStudentRegister" placeholder="Vul hier je e-mail adres in">
      <% if (typeof error !== 'undefined') { %>
        <p style="color: red;"><%= error %></p>
      <% } %>
    </label>
    <label for="passwordStudentRegister">
      Wachtwoord
      <input type="password" name="passwordRegister" id="passwordStudentRegister" placeholder="Vul hier je wachtwoord in">
      <% if (typeof error !== 'undefined') { %>
        <p style="color: red;"><%= error %></p>
      <% } %>
    </label>
    <button type="submit"><i class="fa-solid fa-right-to-bracket"></i>Registreer</button>
    <button type="button" id="login-button">Heb je al een account? Login</button>
  </form>
</section>
