<!DOCTYPE html>
<html lang="nl">
  <%- include('../components/general-head.ejs') %>
<body>
<%- include('../components/index-main.ejs') %>
<%- include('../components/index-footer.ejs') %>
<script src="/js/script.js"></script>
</body>
</html>